@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
}

nav .header__action button {
  max-width: 21px;
}
nav .header__action .header__action--profile, nav .header__action .header__action--profile.active, nav .header__action .active.header__action--profile {
  position: relative;
}
nav .header__action .header__action--profile .header__navbar-user-menu, nav .header__action .header__action--profile.active .header__navbar-user-menu, nav .header__action .header__action--profile .header__navbar-user-menu.active {
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  border: 1px solid rgba(0, 0, 0, 0.38);
  text-align: left;
  top: 180%;
  width: 180px;
  right: 0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
nav .header__action .header__action--profile .header__navbar-user-menu .header__navbar-user-item {
  padding: 0.3rem 0;
}
nav .header__action .header__action--profile .header__navbar-user-menu .header__navbar-user-item a {
  color: black;
}
nav .header__action .header__action--profile .header__navbar-user-name, nav .header__action .header__action--profile.active .header__navbar-user-name {
  display: none;
}
nav .header__action .header__action--profile .btn__header__navbar-user-menu, nav .header__action .header__action--profile.active .btn__header__navbar-user-menu {
  display: none;
}
nav .header__action .header__action--profile .backdrop::after, nav .header__action .header__action--profile.active .backdrop::after {
  display: none;
}
nav .header__action .header__action--profile .header__navbar-user-menu.active {
  opacity: 1;
  display: block;
}
nav .header__action .header__action--profile.active .header__navbar-user-menu {
  opacity: 1;
  visibility: visible;
}
nav .nav__menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
nav .nav__menu.active {
  height: 100vh;
}

/* colors */
html,
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.number {
  font-weight: 900;
  font-size: 15rem;
  line-height: 1;
}

.illustration {
  position: relative;
  width: 12.2rem;
  margin: 0 2.1rem;
}

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12.2rem;
  height: 11.4rem;
  border-radius: 50%;
  background-color: #293b49;
}

.clip {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 12.5rem;
  height: 13rem;
  border-radius: 0 0 50% 50%;
}

.paper {
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9.2rem;
  height: 12.4rem;
  border: 0.3rem solid #293b49;
  background-color: white;
  border-radius: 0.8rem;
}
.paper::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  width: 1.4rem;
  height: 1rem;
  background-color: white;
  border-bottom: 0.3rem solid #293b49;
  transform: rotate(45deg);
}

.face {
  position: relative;
  margin-top: 2.3rem;
}

.eyes {
  position: absolute;
  top: 0;
  left: 2.4rem;
  width: 4.6rem;
  height: 0.8rem;
}

.eye {
  position: absolute;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #293b49;
  animation-name: eye;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.eye-left {
  left: 0;
}
.eye-right {
  right: 0;
}

@keyframes eye {
  0% {
    height: 0.8rem;
  }
  50% {
    height: 0.8rem;
  }
  52% {
    height: 0.1rem;
  }
  54% {
    height: 0.8rem;
  }
  100% {
    height: 0.8rem;
  }
}
.rosyCheeks {
  position: absolute;
  top: 1.6rem;
  width: 1rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #fdabaf;
}
.rosyCheeks-left {
  left: 1.4rem;
}
.rosyCheeks-right {
  right: 1.4rem;
}

.mouth {
  position: absolute;
  top: 3.1rem;
  left: 50%;
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  transform: translateX(-50%);
  background-color: #293b49;
}

.text {
  font-weight: 300;
  color: #293b49;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}
.form-group .form-control {
  background: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 16px;
  height: 40px;
  width: 100%;
  padding: 5px 20px;
  transition: all 0.2s;
}
.form-group small {
  margin-left: 20px;
}

.dropdown {
  width: 100%;
  position: relative;
  user-select: none;
}
.dropdown .dropdown-btn {
  padding-left: 10px;
  font-weight: 700;
}
.dropdown .dropdown-content {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 137%;
  left: -1px;
  border-top: none;
  overflow: scroll;
  transition: all 0.3s ease;
  height: 0;
  max-height: 10rem;
}
.dropdown .dropdown-content .dropdown-item {
  padding-left: 10px;
  cursor: pointer;
  padding: 10px 10px;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #f4f4f4;
}

.dropdown-content.active {
  height: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.404);
}

.sidebar, .sidebar.active {
  position: fixed;
  min-height: 100vh;
  background: #F9F86B;
  width: 240px;
  border-right: 1px solid gray;
  transition: all 0.3s ease;
}
.sidebar .logo-detail {
  height: 52px;
  transition: all 0.3s ease;
  border: transparent;
  min-width: 7.6rem;
  padding: 0.5rem 1rem 0.5rem 0.8rem;
}
.sidebar .logo-detail img {
  width: 6rem;
}
.sidebar ul li a, .sidebar.active ul li a {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  transition: all 0.3s ease;
  height: 60px;
}
.sidebar ul li a svg, .sidebar.active ul li a svg {
  color: black;
  min-width: 55px;
  min-height: 30px;
  transition: all 0.3s ease;
}
.sidebar ul li a span, .sidebar.active ul li a span {
  color: black;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
  min-width: 180px;
  overflow: hidden;
  text-align: left;
}
.sidebar ul li:hover a {
  background-color: black;
}
.sidebar ul li:hover a svg {
  color: white;
}
.sidebar ul li:hover a span {
  color: white;
}

.sidebar.active {
  width: 55px;
  background: white;
  border-right: 1px solid black;
  overflow: hidden;
}
.sidebar.active .logo-detail {
  border-bottom: 1px solid black;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 55px);
  left: 55px;
}
.sidebar.active ~ .home-section nav {
  width: calc(100% - 55px);
}

.sidebar-mobile.active {
  transform: translateX(0) !important;
}

.sidebar-mobile, .sidebar-mobile.active {
  position: absolute;
  top: 0;
  left: -55px;
  transition: all 0.3s ease;
  transform: translateX(-240px);
  min-height: 100vh;
  background: #F9F86B;
  width: 240px;
  border-right: 1px solid gray;
  transition: all 0.3s ease;
}
.sidebar-mobile .logo-detail {
  padding: 0.5rem 1rem 0.5rem 0.8rem;
}
.sidebar-mobile .logo-detail img {
  max-width: 7.6rem;
  min-width: 7.6rem;
}
.sidebar-mobile ul li a, .sidebar-mobile.active ul li a {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  transition: all 0.3s ease;
  height: 60px;
}
.sidebar-mobile ul li a svg, .sidebar-mobile.active ul li a svg {
  color: black;
  min-width: 55px;
  min-height: 30px;
  transition: all 0.3s ease;
}
.sidebar-mobile ul li a span, .sidebar-mobile.active ul li a span {
  color: black;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
  min-width: 180px;
  overflow: hidden;
  text-align: left;
}
.sidebar-mobile ul li:hover a {
  background-color: black;
}
.sidebar-mobile ul li:hover a svg {
  color: white;
}
.sidebar-mobile ul li:hover a span {
  color: white;
}

.home-section {
  background-color: white;
  position: relative;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.3s ease;
}
.home-section nav {
  transition: all 0.3s ease;
  position: fixed;
  background-color: white;
  width: calc(100% - 240px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-bottom: 1px solid black;
  z-index: 10;
}

@media screen and (max-width: 640px) {
  .login__container {
    transform: none;
  }
  .sidebar.active {
    width: 55px;
    background: white;
    border-right: 1px solid black;
    overflow: hidden;
  }
  .sidebar.active ~ .home-section {
    width: calc(100% - 55px) !important;
    left: 55px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 55px) !important;
    left: 55px !important;
  }
  .home-section {
    background-color: white;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 55px) !important;
    left: 55px !important;
    transition: all 0.3s ease;
  }
  .home-section nav {
    transition: all 0.3s ease;
    position: fixed;
    background-color: white;
    width: calc(100% - 55px) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    z-index: 10;
  }
}
@media screen and (min-width: 640px) {
  .login__container {
    transform: translate(-50%, -50%);
  }
  .register__container {
    transform: translate(-50%, -50%);
  }
}
#spinner {
  background: rgba(72, 72, 72, 0.6784313725);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
}

.form-detail, .form-detail-price {
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease;
}

.form-detail.active, .active.form-detail-price {
  height: 8rem;
  font-weight: 500;
}

.form-detail-price.active {
  height: 12rem;
  font-weight: 500;
}

.sidebar, .sidebar.active {
  position: fixed;
  min-height: 100vh;
  background: #F9F86B;
  width: 240px;
  border-right: 1px solid gray;
  transition: all 0.3s ease;
}
.sidebar .logo-detail {
  height: 52px;
  transition: all 0.3s ease;
  border: transparent;
  min-width: 7.6rem;
  padding: 0.5rem 1rem 0.5rem 0.8rem;
}
.sidebar .logo-detail img {
  width: 6rem;
}
.sidebar ul li a, .sidebar.active ul li a {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  transition: all 0.3s ease;
  height: 60px;
}
.sidebar ul li a svg, .sidebar.active ul li a svg {
  color: black;
  min-width: 55px;
  min-height: 30px;
  transition: all 0.3s ease;
}
.sidebar ul li a span, .sidebar.active ul li a span {
  color: black;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
  min-width: 180px;
  overflow: hidden;
  text-align: left;
}
.sidebar ul li:hover a {
  background-color: black;
}
.sidebar ul li:hover a svg {
  color: white;
}
.sidebar ul li:hover a span {
  color: white;
}

.sidebar.active {
  width: 55px;
  background: white;
  border-right: 1px solid black;
  overflow: hidden;
}
.sidebar.active .logo-detail {
  border-bottom: 1px solid black;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 55px);
  left: 55px;
}
.sidebar.active ~ .home-section nav {
  width: calc(100% - 55px);
}

.sidebar-mobile.active {
  transform: translateX(0) !important;
}

.sidebar-mobile, .sidebar-mobile.active {
  position: absolute;
  top: 0;
  left: -55px;
  transition: all 0.3s ease;
  transform: translateX(-240px);
  min-height: 100vh;
  background: #F9F86B;
  width: 240px;
  border-right: 1px solid gray;
  transition: all 0.3s ease;
}
.sidebar-mobile .logo-detail {
  padding: 0.5rem 1rem 0.5rem 0.8rem;
}
.sidebar-mobile .logo-detail img {
  max-width: 7.6rem;
  min-width: 7.6rem;
}
.sidebar-mobile ul li a, .sidebar-mobile.active ul li a {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  transition: all 0.3s ease;
  height: 60px;
}
.sidebar-mobile ul li a svg, .sidebar-mobile.active ul li a svg {
  color: black;
  min-width: 55px;
  min-height: 30px;
  transition: all 0.3s ease;
}
.sidebar-mobile ul li a span, .sidebar-mobile.active ul li a span {
  color: black;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
  min-width: 180px;
  overflow: hidden;
  text-align: left;
}
.sidebar-mobile ul li:hover a {
  background-color: black;
}
.sidebar-mobile ul li:hover a svg {
  color: white;
}
.sidebar-mobile ul li:hover a span {
  color: white;
}

.home-section {
  background-color: white;
  position: relative;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.3s ease;
}
.home-section nav {
  transition: all 0.3s ease;
  position: fixed;
  background-color: white;
  width: calc(100% - 240px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-bottom: 1px solid black;
  z-index: 10;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton.skeleton-text {
  height: 1rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg, 20%, 70%);
  }
  100% {
    background-color: hsl(200deg, 20%, 95%);
  }
}

/*# sourceMappingURL=index.css.map */
