.sidebar {
    position: fixed;
    min-height: 100vh;
    background: #F9F86B;
    width: 240px;
    border-right: 1px solid gray;
    transition: all 0.3s ease;
    .logo-detail {
        height: 55px;
        transition: all 0.3s ease;
        border: transparent;
        min-width: 7.6rem;
        padding: 0.5rem 1rem 0.5rem 0.8rem;
        img {
            width: 6rem;
        }
    }
}

.nav-links-item {
    .nav-links-content {
        display: flex;
        padding: 0.5rem 0;
        align-items: center;
        transition: all 0.3s ease;
        height: 60px;
        svg {
            color: black;
            min-width: 55px;
            min-height: 30px;
            transition: all 0.3s ease;
        }
        span {
            color: black;
            font-size: 16px;
            font-weight: 400;
            transition: all 0.3s ease;
            min-width: 180px;
            overflow: hidden;
            text-align: left;
        }
    }
    &:hover {
        a {
            background-color: black;
            svg {
                color: white;
            }
            span {
                color: white;
            }
        }
    }
}

.sidebar {
    &.active {
        @extend .sidebar;
        width: 55px;
        background: white;
        border-right: 1px solid black;
        overflow: hidden;
        .logo-detail {
            border-bottom: 1px solid black;
        }
        &~.home-section {
            width: calc(100% - 55px);
            left: 55px;
            nav {
                width: calc(100% - 55px);
            }
        }
    }
}

.sidebar-mobile {
    &.active {
        @extend .sidebar-mobile;
        transform: translateX(0)!important;
    }
}

.sidebar-mobile {
    position: absolute;
    top: 0;
    left: -55px;
    transition: all 0.3s ease;
    transform: translateX(-240px);
    min-height: 100vh;
    background: #F9F86B;
    width: 240px;
    border-right: 1px solid gray;
    transition: all 0.3s ease;
    .logo-detail {
        img {
            max-width: 7.6rem;
            min-width: 7.6rem;
        }
        padding: 0.5rem 1rem 0.5rem 0.8rem;
    }
}

.home-section {
    background-color: white;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.3s ease;
    nav {
        transition: all 0.3s ease;
        position: fixed;
        background-color: white;
        width: calc(100% - 240px);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-bottom: 1px solid black;
        z-index: 10;
    }
}